@charset "UTF-8";


.personaje {
	position:fixed;
	padding-top: 45vh;
	margin-left: 5vh;
}

.menu {
	position: fixed;
	padding-top: 45vh;
}

.num {
	background-color: rgba(168,211,175,1.00);
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}

.uno {
	height: 100vh;
	align-items: center;
	background-color: #fbfbfb;
}


.titulouno {
	height: 40%;
	background-image:url("../after/deshielo.gif");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}

.dos {
	height: 100vh;
	align-content: center;
	background-color: #6DAAA0;
}

.titulodos {
	height: 40%;
	background-image: url("../after/quees.gif");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10%;
}

.textodos {
	margin-bottom: 10%;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.tres {
	height: 100vh;
	align-content: center;
	background-image: url("../after/textura1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.titulotres {
	margin-top: 10%;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 50px;
	font-size-adjust: .5;
	background-color: rgba(229,235,177,1.00);
}

.i3 {
	height: 40%;
	background-image: url("../after/auto.gif");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.i32 {
	height: 40%;
	background-image:url("../after/cerveza.gif");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.i33 {
	height: 40%;
	background-image:url("../after/plastico.gif");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.textotres {
	margin-bottom: 10%;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.cuatro {
	height: 100vh;
	align-content: center;
	background-image: url("../after/textura2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.titulocuatro {
	margin-top: 10%;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 50px;
	font-size-adjust: .5;
	background-color: rgba(168,211,175,1.00);
}

.i4 {
	height: 40%;
	background-image:url("../after/oso.gif");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.i42 {
	height: 40%;
	background-image:url("../after/termo.gif");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.i43 {
	height: 40%;
	background-image:url("../after/inundar.gif");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.textocuatro {
	margin-bottom: 10%;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.cinco {
	height: 100vh;
	align-content: center;
	background-color: #fbfbfb;
}

.titulocinco {
	margin-top: 10%;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 50px;
	font-size-adjust: .5;
	margin-bottom: 1%;
	background-color: rgba(95,80,118,1.00);
}

.textocinco {
	margin-bottom: 10%;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}